/* Header components */
.dark-theme header.header-main {
    background: #3e3e3e;
    color: #fff;
}
.dark-theme .static-header-link {
    color: #fff;
    transition: ease-in-out 0.15s;
}
.dark-theme .static-header-link:hover {
    filter: contrast(0.5);
    cursor: pointer;
}