/* Header components */
.light-theme header.header-main {
    background: #1a212c;
    color: #fff;
}
.light-theme .static-header-link {
    color: #fff;
    transition: ease-in-out 0.15s;
}
.light-theme .static-header-link:hover {
    filter: contrast(0.5);
    cursor: pointer;
}

/* Navbar options component */
.light-theme nav.navbar-options {
    color: #fff;
    border-bottom-color: #acacac;
}
.light-theme nav.navbar-options .nav-item {
    color: #000;
}
.light-theme nav.navbar-options .nav-item:hover {
    border-bottom-color: #8f8f8f;
}
.light-theme nav.navbar-options .nav-item > .notification-icon {
    color: #000;
    background: #ccc;
}
.light-theme nav.navbar-options .selected-item {
    color: #000;
    font-weight: bold;
    border-bottom-color: #ff5100 !important;
}

/* Toggle theme button */
.light-theme span.toggle-theme > .theme-turn-on::before { content: attr(light-value); }
.light-theme span.toggle-theme { color: #3e3e3e; }

/* About me section */
.light-theme #about-me-mobile {
    color: #000;
}
.light-theme #about-me-mobile .profile-picture img { border-color: #636363; filter: drop-shadow(0px 0px 5px #3e3e3e); }
.light-theme #about-me-mobile .profile-name .username { color: #505050; }
.light-theme #about-me-mobile .about-me-status {
    border-color: #535353;
    color: #505050;
}
.light-theme #about-me-mobile .about-me-status .status-label { color: #00b637; }
.light-theme #about-me-mobile .about-me-status .status-pill {
    background: #009e2f;
    color: #fff;
}
.light-theme #about-me-mobile .about-me-title .title-label { color: #0011ff; }
.light-theme #about-me-mobile .see-profile {
    border-color: #a0a0a0;
    color: #222222;
    background: #dadada;
}
.light-theme #about-me-mobile .see-profile:hover {
    border-color: #838383;
    background: #a0a0a0;
    cursor: pointer;
}