/* Header components */
.light-theme header.header-main {
    background: #1a212c;
    color: #fff;
}
.light-theme .static-header-link {
    color: #fff;
    transition: ease-in-out 0.15s;
}
.light-theme .static-header-link:hover {
    filter: contrast(0.5);
    cursor: pointer;
}